
<ion-header>
  <ion-toolbar color="danger">
    <ion-icon name="arrow-round-back" class="img" routerLink="/login"></ion-icon>  
      </ion-toolbar>
</ion-header>

<ion-content>
   <img src="../../../assets/img/forgot.jpg">
 <br> <br> <br><br>
 <ion-card>
   <ion-card-content>
     <p style="text-align: center; size:14px ;color: black"> <b> 
       : يرجى إدخال عنوان البريد الإلكتروني الخاص بك  </b></p> <br>
       <div class="zone">
              <ion-input type="text" required></ion-input><br><br>
                  <ion-button  shape="round"  color="danger" click="send()" ><b>  التأكيد  </b></ion-button>   
        </div>
   </ion-card-content>
 </ion-card>
</ion-content>
