.zone{
    ion-input{
--background: #EEEEEE;
  border-radius: 15px;  
  text-align: center;
  color: rgb(211, 12, 12);
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
ion-button{
    width: 50%;
    margin-left: 25%;
}
}

.img{
    width:30px ; 
    height: 20px;
    margin-top: 7%;
    margin-left: 10px
}