ion-input{
 --background: #EEEEEE;
   border-radius: 8px;  
   text-align: right;
   color: rgb(211, 12, 12);
 
}
ion-item{
   font-size: 18px;
   color: rgb(211, 12, 12);
  
 }
.img{
   width: 23px;
   height: 25px;
}
.titre{
  margin-left: 75%
}
.mail{
   text-align: center;
    width: 70%;
    --background:rgb(255, 255, 255);
    margin-left: 15%;
    color: rgb(0,0,0);
  
  }