#title{
    text-align: center;
}
 ion-item{
     text-align:right;
     font-size: 18px;
     text-decoration: none;
     width: 60%;
      margin-left: 10%;
     margin-top: -8%
   }
ion-avatar{
margin-left: 80%
}
ion-card{
    ion-button{
        width: 32%;
    }
}
