<ion-content>
  <div>
 <p class="par1"> : ﺍﻟﺮﺟﺎﺀ ﺍﻹﺟﺎﺑﺔ ﻋﻠﻰ ﺍﻷﺳﺌﻠﺔ </p>  
<br>
  <div class="par2"> ﻫﻞ ﺗﺒﺮﻋﺖ ﻣﻦ ﻗﺒﻞ ؟ 
      <div style="margin-right: 50%">
              <ion-radio slot="end"  color="danger"> </ion-radio>&nbsp;&nbsp; ﻧﻌﻢ
              <ion-radio slot="end"  color="success" > </ion-radio>&nbsp;&nbsp; ﻻ
      </div>
  </div>
<br>
<div  class="par2"> ﻓﻲ ﺻﻮﺭﺓ ﻧﻌﻢ ,ﻣﺘﻰ ﺃﺧﺮ  ﻣﺮﺓ ؟   </div> <br>
<ion-item >  
      <ion-input type="date" required></ion-input> 
    </ion-item>
    <br>
<div class="par2">  ﻫﻞ ﺗﻌﺎﻧﻲ ﺃﻣﺮﺍﻅ ؟ <br>
<div style="margin-right: 50%">
      <ion-radio slot="end"  color="danger"> </ion-radio>&nbsp;&nbsp; ﻧﻌﻢ
      <ion-radio slot="end"  color="success"> </ion-radio>&nbsp;&nbsp; ﻻ
</div>
</div>
<br>
<p class="par2"> ﻓﻲ ﺻﻮﺭﺓ ﻧﻌﻢ  ﻣﺎ ﻫﻲ ؟ </p><br>
<ion-item >  
      <ion-input type="text" required></ion-input> 
    </ion-item> <br>
<div class="zone">
<p  class="par1">: ﺗﺄﻛﻴﺪ ﺭﻣﺰ ﺍﻟﺘﺤﻘﻖ   </p>
<ion-input type="number" required></ion-input>
</div>
<br>

<ion-button  shape="round"  color="danger" routerLink="/accuiel" class="log" ><b>  ﺍﻟﺘﺴﺠﻴﻞ</b></ion-button>
</div>
 <!-- fonction qui save data on firebase -->
</ion-content>
