<ion-content >

  <ion-card>
     <ion-card-header><h3 style="margin-left: 40%"> الخروج</h3></ion-card-header>
       <ion-card-content style="margin-left: 10%">
         <p style="color: black"> ... رايكم  يهمنا </p>
          <img src="assets/img/vote.png" class="vote" id="btn2">
          <img src="assets/img/vote.png" class="vote" id="btn2">
          <img src="assets/img/vote.png" class="vote" id="btn2">
          <img src="assets/img/vote.png" class="vote" id="btn2">
          <img src="assets/img/vote.png" class="vote" id="btn2">
        </ion-card-content>
      <ion-button shape="round"  color="danger" fill="outline"  routerLink="/accuiel">العودة</ion-button>
      <ion-button  shape="round"  color="danger" fill="outline" routerLink="/home">المتابعة</ion-button>
   </ion-card>
 </ion-content>
 